<a href="https://colab.research.google.com/github/jlsgodev/dados/blob/main/AED_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR0ChMx_wTnqy3v6IDAzUIe1AOGUo4K0RU2JEOgtQFX_UDcDa0NQhJaPu4vwGfsEzsmt7xQbj2IXu73/pub?gid=0&single=true&output=csv')
display(df)

,matricula,nome,cidade,estado,pais,idade,departamento,cargo,salario,escolaridade,nota
0,1,Lucas,Atibaia,SP,Brasil,35,Compras,Gerente,25000,Superior,8
1,2,Ana,São Paulo,SP,Brasil,29,Vendas,Coordenador,12000,Superior,6
2,3,Luiza,Santos,SP,Brasil,38,Finanças,Gerente,28000,MBA,9
3,4,Fernando,Atibaia,SP,Brasil,36,Marketing,Diretor,40000,Mestrado,7
4,5,Sandra,Atibaia,SP,Brasil,28,Produção,Analista,23000,Superior,5
5,6,Douglas,Bragança,SP,Brasil,29,Finanças,Analista,11000,Superior,9
6,7,Eduardo,Extrema,MG,Brasil,30,Marketing,Gerente,12000,MBA,4
7,8,Ester,Itapeva,MG,Brasil,29,Compras,Analista,10000,Superior,2
8,9,Pedro,Extrema,MG,Brasil,30,Marketing,Analista,13000,Superior,1
9,10,Maria,Extrema,MG,Brasil,40,Produção,Analista,12000,MBA,7

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   matricula     10 non-null     int64
 1   nome          10 non-null     object
 2   cidade        10 non-null     object
 3   estado        10 non-null     object
 4   pais          10 non-null     object
 5   idade         10 non-null     int64
 6   departamento  10 non-null     object
 7   cargo         10 non-null     object
 8   salario       10 non-null     int64
 9   escolaridade  10 non-null     object
 10  nota          10 non-null     int64
dtypes: int64(4), object(7)
memory usage: 1008.0+ bytes

In [ ]:
# Calculando a média do atributo idade
media = df['idade'].mean()
print(f'A idade média dos funcionários é {media} anos')

A idade média dos funcionários é 32.4 anos

In [ ]:
# Calculando a mediana do atributo idade
mediana = df['idade'].median()
print(f'A mediana das idades dos funcionários é {mediana} anos')

A mediana das idades dos funcionários é 30.0 anos

In [ ]:
# Calculando a moda no pandas
moda = (df['idade'].mode())
moda = moda.iloc[0]
print(f'A moda das idades dos funcionários é {moda:.0f} anos')

A moda das idades dos funcionários é 29 anos

In [ ]:
# Calculando a variância no pandas
vari = df['idade'].var()
print(f'A variância das idades dos funcionários é {vari:.1f} anos ao quadrado')

A variância das idades dos funcionários é 19.4 anos ao quadrado

In [ ]:
# Calculando o desvio padrão das idades no pandas
desvio = df['idade'].std()
print(f'O desvio padrão das idades dos funcionários é {desvio:.1f} anos')

O desvio padrão das idades dos funcionários é 4.4 anos

In [ ]:
# calculando a idade mínima dos funcionários no pandas
minimo = df['idade'].min()
print(f'A idade mínima dos funcionários é {minimo:.0f} anos')

A idade mínima dos funcionários é 28 anos

In [ ]:
# calculando o 1º Quartil das idades dos funcionário no pandas
q1 = df['idade'].quantile(0.25)
print(f'O 1º Quartil (q1) das idades dos funcionários é {q1:.0f} anos')

O 1º Quartil (q1) das idades dos funcionários é 29 anos

In [ ]:
# Calculando a median ou q2 (2º Quartil) das idades dos funcionários
q2 = df['idade'].quantile(0.5)
print(f'O 2º Quartil das idades dos funcionários é {q2:.0f} anos')

O 2º Quartil das idades dos funcionários é 30 anos

In [ ]:
# Calculando o 3º quartil das idades dos funcionários
q3 = df['idade'].quantile(0.75)
print(f'O 3º Quartil das idades dos funcionários é {q3:.1f} anos')

O 3º Quartil das idades dos funcionários é 35.8 anos

In [ ]:
# Calculando o valor máximo das idades dos funcionários
maximo = df['idade'].max()
print(f'A idade máxima dos funcionários é {maximo:.0f} anos')

A idade máxima dos funcionários é 40 anos

In [ ]:
# Amplitude Interquartílica (AIQ) das idades dos funcionários

aiq = q3 - q1
print(f'A amplitude interquartílica das idades dos funcionários é {aiq:.0f} anos')

A amplitude interquartílica das idades dos funcionários é 7 anos

In [ ]:
li = q1 - 1.5 * aiq
print(f'O limite inferior das idades é {li} anos')

O limite inferior das idades é 18.875 anos

In [ ]:
ls = q3 + 1.5 * aiq
print(f'O limite superior das idades é {ls} anos')

O limite superior das idades é 45.875 anos

In [ ]:
if (minimo < li) or (maximo > ls):
  print('Existe ponto fora da curva em idade')
else:
  print('Não existe ponto fora da curva em idade')

Não existe ponto fora da curva em idade

In [ ]:
# calculando as principais medidas descritivas para todas as métricas (Quantitativas)
medidas = df.describe()
display(medidas)

       matricula     idade       salario       nota
count   10.00000  10.00000     10.000000  10.000000
mean     5.50000  32.40000  18600.000000   5.800000
std      3.02765   4.40202  10002.221975   2.780887
min      1.00000  28.00000  10000.000000   1.000000
25%      3.25000  29.00000  12000.000000   4.250000
50%      5.50000  30.00000  12500.000000   6.500000
75%      7.75000  35.75000  24500.000000   7.750000
max     10.00000  40.00000  40000.000000   9.000000