<a href="https://colab.research.google.com/github/jlsgodev/dados/blob/main/exercicio_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Criação das tabelas com chaves primárias e estrangeiras

In [ ]:
-- Criação da tabela CURSO
-- Esta tabela armazena as informações dos cursos oferecidos, como o nome e um identificador único (cod_curso).
CREATE TABLE IF NOT EXISTS CURSO (
  cod_curso INT AUTO_INCREMENT, -- Chave primária auto incrementada para garantir unicidade
  nome_curso VARCHAR(60), -- Nome do curso, limitado a 60 caracteres
  CONSTRAINT curso_PK PRIMARY KEY (cod_curso) -- Define a chave primária
);

-- Criação da tabela EQUIPAMENTO
-- Esta tabela armazena os equipamentos disponíveis, como nome, valor, quantidade e tipo.
CREATE TABLE IF NOT EXISTS EQUIPAMENTO (
  cod_equipamento INT AUTO_INCREMENT, -- Chave primária auto incrementada
  nm_equipamento VARCHAR(50), -- Nome do equipamento
  valor DECIMAL(10,2), -- Valor do equipamento, com 2 casas decimais
  quantidade INT, -- Quantidade disponível do equipamento
  tipo VARCHAR(50), -- Tipo do equipamento
  CONSTRAINT equipamento_PK PRIMARY KEY (cod_equipamento) -- Define a chave primária
);

-- Criação da tabela SALA
-- Esta tabela contém as informações das salas disponíveis.
CREATE TABLE IF NOT EXISTS SALA (
  cod_sala INT AUTO_INCREMENT, -- Chave primária auto incrementada
  nome_sala VARCHAR(50), -- Nome da sala
  CONSTRAINT sala_PK PRIMARY KEY (cod_sala) -- Define a chave primária
);

-- Criação da tabela PROFESSOR
-- Armazena informações dos professores, como nome, telefone, curso associado e salário.
CREATE TABLE IF NOT EXISTS PROFESSOR (
  cod_professor INT AUTO_INCREMENT, -- Chave primária auto incrementada
  nm_professor VARCHAR(70), -- Nome do professor
  telefone VARCHAR(20), -- Telefone do professor
  cod_curso INT, -- Chave estrangeira que faz referência à tabela CURSO
  salario DECIMAL(10,2), -- Salário do professor
  CONSTRAINT professor_PK PRIMARY KEY (cod_professor), -- Define a chave primária
  CONSTRAINT cursoFK FOREIGN KEY (cod_curso) REFERENCES CURSO(cod_curso) -- Define a chave estrangeira para CURSO
);

-- Criação da tabela RESERVA
-- Armazena as reservas de equipamentos feitas pelos professores para utilização nas salas.
CREATE TABLE IF NOT EXISTS RESERVA (
  id_reserva INT AUTO_INCREMENT, -- Chave primária auto incrementada
  cod_professor INT, -- Chave estrangeira que faz referência à tabela PROFESSOR
  cod_equipamento INT, -- Chave estrangeira que faz referência à tabela EQUIPAMENTO
  data_reserva DATE, -- Data da reserva
  hora_inicio TIME, -- Hora de início da reserva
  hora_fim TIME, -- Hora de término da reserva
  cod_sala INT, -- Chave estrangeira que faz referência à tabela SALA
  CONSTRAINT reserva_PK PRIMARY KEY (id_reserva), -- Define a chave primária
  CONSTRAINT professorFK FOREIGN KEY (cod_professor) REFERENCES PROFESSOR(cod_professor), -- Chave estrangeira para PROFESSOR
  CONSTRAINT equipamentoFK FOREIGN KEY (cod_equipamento) REFERENCES EQUIPAMENTO(cod_equipamento), -- Chave estrangeira para EQUIPAMENTO
  CONSTRAINT salaFK FOREIGN KEY (cod_sala) REFERENCES SALA(cod_sala) -- Chave estrangeira para SALA
);

### Inserção de dados nas tabelas

In [ ]:


-- Inserindo 7 cursos na tabela CURSO
INSERT INTO CURSO (nome_curso) VALUES
('Engenharia de Software'),
('Matemática'),
('Física'),
('Química'),
('Biologia'),
('História'),
('Geografia');



-- Inserindo 7 equipamentos na tabela EQUIPAMENTO
INSERT INTO EQUIPAMENTO (nm_equipamento, valor, quantidade, tipo) VALUES
('Projetor', 1200.50, 10, 'Eletrônico'),
('Computador', 3500.00, 15, 'Eletrônico'),
('Impressora', 800.00, 5, 'Eletrônico'),
('Lousa Digital', 5000.00, 2, 'Eletrônico'),
('Datashow', 1500.00, 7, 'Eletrônico'),
('Microfone', 200.00, 20, 'Eletrônico'),
('Caixa de Som', 750.00, 8, 'Eletrônico');





-- Inserindo 7 salas na tabela SALA
INSERT INTO SALA (nome_sala) VALUES
('Sala 101'),
('Sala 102'),
('Laboratório 1'),
('Laboratório 2'),
('Auditório'),
('Sala 103'),
('Sala 104');



-- Inserindo 7 professores na tabela PROFESSOR
-- Os códigos de curso correspondem aos cursos já inseridos na tabela CURSO
INSERT INTO PROFESSOR (nm_professor, telefone, cod_curso, salario) VALUES
('João Silva', '123456789', 1, 5000.00),
('Maria Souza', '987654321', 2, 4800.00),
('Carlos Lima', '456123789', 3, 5300.00),
('Ana Torres', '789321654', 4, 4500.00),
('Fernanda Alves', '654987321', 5, 5200.00),
('Pedro Santos', '321654987', 6, 4700.00),
('Carla Rocha', '789456123', 7, 4900.00);




-- Inserindo 7 reservas na tabela RESERVA
-- Os códigos de professor, equipamento e sala devem existir nas respectivas tabelas
INSERT INTO RESERVA (cod_professor, cod_equipamento, data_reserva, hora_inicio, hora_fim, cod_sala) VALUES
(1, 1, '2024-09-06', '08:00:00', '10:00:00', 1),
(2, 2, '2024-09-06', '10:00:00', '12:00:00', 2),
(3, 3, '2024-09-07', '09:00:00', '11:00:00', 3),
(4, 4, '2024-09-08', '08:30:00', '10:30:00', 4),
(5, 5, '2024-09-08', '11:00:00', '13:00:00', 5),
(6, 6, '2024-09-09', '09:00:00', '11:00:00', 6),
(7, 7, '2024-09-10', '10:00:00', '12:00:00', 7);

### consultas

In [ ]:


-- Listar nome, salário e curso dos professores
SELECT
  PROFESSOR.nm_professor AS Nome_Professor,
  PROFESSOR.salario AS Salário,
  CURSO.nome_curso AS Curso
FROM
  PROFESSOR
JOIN
  CURSO ON PROFESSOR.cod_curso = CURSO.cod_curso;




-- Listar equipamentos com valor acima de 2000 reais
SELECT
  nm_equipamento AS Equipamento,
  valor AS Valor
FROM
  EQUIPAMENTO
WHERE
  valor > 2000;




-- Contar quantos professores estão associados a cada curso
  SELECT
  CURSO.nome_curso AS Curso,
  COUNT(PROFESSOR.cod_professor) AS Total_Professores
FROM
  PROFESSOR
JOIN
  CURSO ON PROFESSOR.cod_curso = CURSO.cod_curso
GROUP BY
  CURSO.nome_curso;



--Listar o nome do professor, o equipamento reservado e a sala para cada reserva realizada
SELECT
  PROFESSOR.nm_professor AS Nome_Professor,
  EQUIPAMENTO.nm_equipamento AS Equipamento,
  SALA.nome_sala AS Sala
FROM
  RESERVA
JOIN
  PROFESSOR ON RESERVA.cod_professor = PROFESSOR.cod_professor
JOIN
  EQUIPAMENTO ON RESERVA.cod_equipamento = EQUIPAMENTO.cod_equipamento
JOIN
  SALA ON RESERVA.cod_sala = SALA.cod_sala;



-- Listar equipamentos com valor menor de 1000 reais
 SELECT
  nm_equipamento AS Equipamento,
  valor AS Valor
FROM
  EQUIPAMENTO
WHERE
  valor < 1000;