<a href="https://colab.research.google.com/github/jlsgodev/dados/blob/main/Material_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Introdução ao Python**##

**Definição:** Python é uma linguagem de programação de alto nível, interpretada e de propósito geral, amplamente conhecida por sua simplicidade e legibilidade. Criada por Guido van Rossum e lançada pela primeira vez em 1991, Python adota uma abordagem de design que enfatiza a legibilidade do código, tornando-o fácil de entender e escrever

**Principais Características:**
1. **Simplicidade e Legibilidade:** A sintaxe de Python é clara e concisa, o que facilita a leitura e escrita de código. Isso a torna ideal tanto para iniciantes quanto para desenvolvedores experientes.

2. **Interpretada:** Python é uma linguagem interpretada, o que significa que o código é executado linha por linha por um interpretador, sem a necessidade de compilação prévia.

3. **Multiparadigma:** Python suporta múltiplos paradigmas de programação, incluindo programação orientada a objetos, imperativa, funcional e procedural.

4. **Grande Biblioteca Padrão:** Python vem com uma ampla biblioteca padrão, que oferece módulos e funções para resolver uma variedade de tarefas comuns, desde manipulação de arquivos até desenvolvimento web.

5. **Portabilidade:** O código Python pode ser executado em diferentes sistemas operacionais, como Windows, macOS e Linux, sem necessidade de alterações.

6. **Extensibilidade**: Python pode ser estendido com módulos e bibliotecas adicionais, permitindo a integração com outras linguagens de programação, como C ou C++.

#Batismo da Linguagem#

In [ ]:
print("Hello, World!")

# 1 - Variáveis#

In [ ]:
#Inteiros
x = 5
y = 99
resultado = 100

print(x, type(x))
print(y, type(y))
print(resultado, type(gato))

#Float
pi = 3.14
e = 2.718

print(pi, type(pi))
print(e, type(e))


#String (texto)
nome = "Adriano Gomes"
cidade = "Mossoró-RN"
print(nome, type(nome))

#Booleanos (true, false)
status = True
situacao = False
print(status, type(status))

#2 - Operadores#

***Observações:*** - O operador ternário é uma ferramenta poderosa para simplificar expressões condicionais em Python, mas deve ser usado com cuidado para manter o código limpo e fácil de entender.

**Matemáticos**

In [ ]:
a = 15
b = 2
print("Soma: ", a + b)
print("Subtração: ", a - b)
print("Multiplicação: ", a * b)
print("Divisão: ", a / b)
print("Divisão Inteira: ", a // b)
print("Resto da Divisão: ", a % b)
print("Exponenciação: ", a ** b)

In [ ]:
# Solicitar dos dados do usuário
a = int(input("Digite o valor de a: "))
b = int(input("Digite o valor de b: "))
c = float(input("Digite o valor de c: "))

print(c, type(c))

# Saídas com as operações
print("Soma: ", a + b)
print("Subtração: ", a - b)
print("Multiplicação: ", a * b)
print("Divisão: ", a / b)
print("Divisão Inteira: ", a // b)
print("Resto da Divisão: ", a % b)
print("Exponenciação: ", a ** b)

In [ ]:
cliente = "Douglas" # em python string. Em teoria estatística (variável qualitativa ou categórica)
type(cliente)
idade = 35 # em python inteiro(int). Em teoria estatística (variável quantitativa discreta)
type(idade)
altura = 1.58 # em python float. Em teoria estatística (variável quantitativa continua)

**Comparação**

In [ ]:
a = 10
b = 5
print(a > b) # maior que
print(a < b) # menor que
print( a == b) # igual
print(a != b) # diferente
print( a >= b) # maior ou igual a
print(a <= b) # menor ou igual a

**Lógico**

In [ ]:
# Operador AND (e lógico) - só emite verdadeiro de ambos os casos forem TRUE
x = 70
y = 50
k = 51

print ((x > y) and (y >= k) and (k < x))

In [ ]:
# Operador OR (ou lógico) - emite verdadeiro se existir ao menos um TRUE
x = 70
y = 50
k = 151

print ((x < y) or (y >= k) or (k > x))

print (((x > y) or (y >= k)) and (k > x))

In [ ]:
#Operador NOT (não lógico) - inverte o valor booleano da variável
a = 10
b = 5
resultado = a < b

# print(not resultado)

x = True
y = False
k = True
# Combinação de and, or e not
print(not((x and y) or (not y and k)))

**Ternário:** - O operador ternário em Python é uma forma concisa de escrever uma expressão condicional. Ele permite que você atribua um valor a uma variável com base em uma condição, tudo em uma única linha.

*Exemplo 01 com Atribuição Simples:*

In [ ]:
# Exemplo: Verificar se um número é par ou ímpar
numero = 10
par_ou_impar = "Par" if numero % 2 == 0 else "Ímpar"
print(par_ou_impar)  # Saída: Par

*Exemplo 2: Múltiplas Condições* - Embora o operador ternário seja geralmente usado para uma única condição, ele pode ser aninhado para verificar múltiplas condições, mas isso pode tornar o código menos legível

In [ ]:
# Exemplo: Determinar a categoria de um número
numero = 5
categoria = "Negativo" if numero < 0 else "Zero" if numero == 0 else "Positivo"
print(categoria)  # Saída: Positivo

*Exemplo 3: Operações Simples* - Você pode usar o operador ternário para operações mais simples e diretas, como garantir que uma variável não seja negativa

In [ ]:
# Exemplo: Garantir que um valor seja não-negativo
valor = -10
valor_absoluto = valor if valor >= 0 else -valor
print(valor_absoluto)  # Saída: 10

*Comparação com a Estrutura if-else Tradicional* - O operador ternário é útil para expressões simples, mas se a lógica for mais complexa, é melhor usar a estrutura if-else tradicional para garantir a legibilidade do código.

In [ ]:
# Estrutura if-else tradicional equivalente ao primeiro exemplo:
if numero % 2 == 0:
    par_ou_impar = "Par"
else:
    par_ou_impar = "Ímpar"
print(par_ou_impar)  # Saída: Par

#3 - Estruturas Condicionais#

**Condicionais Simples**

In [ ]:
idade = 18

if (idade >= 18):
  print("Você é maior de idade")

**Condicionais Composta**

In [ ]:
idade = 15

if (idade >= 18):
  print("Você é maior de idade")
else:
  print("Você é menor de idade")

**Condicionais Encadeadas**

In [ ]:
# Criança até 12 anos
# Adolescente de 13 a 17 anos
# Adulto 18 a 59 anos
# Idoso acima de 60 anos
idade = int(input("Digite sua idade: "))
# Verificar e classificar a faixa etária
if (idade >= 0 and idade <= 12):
  print("Criança")
elif(idade >=13 and idade <=17):
  print("Adolescente")
elif(idade >= 18 and idade <= 59):
  print("Adulto")
elif (idade >= 60 and idade <= 130):
  print("Idoso")
else:
  print("Idade Inválida")

In [ ]:
# Criança até 12 anos
# Adolescente de 13 a 17 anos
# Adulto 18 a 59 anos
# Idoso acima de 60 anos
idade = int(input("Digite sua idade: "))
# Verificar e classificar a faixa etária
if 0 <= idade <= 12:
  print("Criança")
elif 13 <= idade <=17:
  print("Adolescente")
elif 18 <= idade <= 59:
  print("Adulto")
elif 60 <= idade <= 130:
  print("Idoso")
else:
  print("Idade Inválida")

In [ ]:
valor = 100
resultado = valor + (valor * 0.25)
print(resultado)

#4 - Estrutura de Repetição#

**For**

In [ ]:
# Iteração sobre listas
        #   0         1         2       3
frutas = ["maçã", "banana", "cereja", "uva"]
print(frutas)
for x in frutas:
  print(x)

In [ ]:
# Usando range

for i in range(11):
  print(i)

In [ ]:
#Iteração sobre caracteres de uma string
mensagem = "Hello, world!"

for caractere in mensagem:
  print(caractere)

**While**

In [ ]:
contador = 0
while(contador < 10):
  print(contador)
  contador += 1

In [ ]:
x = 6
x+=3 # x = 6 + 3
x*=5 # x = 9 * 5
print(x)

In [ ]:
senha = "12"
while senha != "12345":
  senha = input("Digite a senha correta: ")
  if senha == "12345":
    print("Acesso Autorizado!")
  else:
    print("senha incorreta, tente novamente!")

In [ ]:
senha_correta = "1234"
tentativas_maximas = 3
contar_tentativas = 0

while contar_tentativas < tentativas_maximas:
  senha = input("Digite a senha:")
  if senha == senha_correta:
    print("Acesso Autorizado")
    break
  else:
    contar_tentativas +=1
    if contar_tentativas < tentativas_maximas:
      # print(f"Senha incorreta, tente novamente. Você tem {tentativas_maximas - contar_tentativas} tentativas restantes.")
      tentativas_restante = tentativas_maximas - contar_tentativas
      print("Senha incorreta, tente novamente. Você tentou {} vezes e resta apenas {} tentativas".format(contar_tentativas, tentativas_restante))
    else:
      print("Número máximo de tentativas atingido. Acesso Bloqueado")

#5 -Strings#

**Definição:** - É um tipo de dado (fundamental) que representa uma sequência de caracteres imutável.

In [ ]:
# Strings podem ser criadas usandos aspas simples ou duplas
s1 = 'Hello, World!'
s2 = "Hello, World!"

# Strings de múltiplas linhas usando três aspas simples ou duplas
s3 = ''' Essa é minha frase
contendo múltiplas linhas
na mesma variáveis '''

s4 = """ Essa é minha frase
contendo múltiplas linhas
na mesma variáveis """

##Acessando Caracteres e Substrings##

##Métodos Comuns de Strings##

**len()** - Retorna o comprimento da string

In [ ]:
s = "Essa é minha frase contendo múltiplas linhas na mesma variáveis "
print(len(s))

**lower()** - Converter todos os caracteres da string para minúsculas.

In [ ]:
s = "Essa é minha frase contendo múltiplas linhas na mesma variáveis "
print(s.lower())

**upper()** - Converter todos os caracteres da string para maiúsculas.

In [ ]:
s = input("Digite uma frase: ")
print(s)
print(s.upper())
print(s)

s2 = input("Digite uma frase: ").upper()
print(s2)

**strip()** - Remove espaços em branco do início e do fim de uma string

In [ ]:
s = input("Digite uma frase: ")
print(len(s))
s = s.strip()
print(len(s))


s2 = input("Digite uma frase: ").strip()
print(len(s))

**split()** - Divide a string em uma lista de substrings com base em um delimitador

In [ ]:
import re

s = input("Digite uma frase: ")
print (s.split())
print (s.split('-'))

s.upper()
resultado = re.split(r'[ ,]', s)
print(resultado)

**replace()** - substitui as ocorrências de uma string por outra substring

In [ ]:
s = "Hello, World!"
print(s.replace('World', 'Python'))

**join()** - Une uma lista de strings em uma única string usando delimitador

In [ ]:
words = ["Hello", "World", "Python"]
print (' '.join(words))
print (', '.join(words))

**find()** - Retorna o indice da primeira ocorrência ou -1 se não encontrar

In [ ]:
s = "Hello, World!"
print(s.find('World'))
print(s.find('Python'))

**count()** - Conta o número de ocorrências de uma substring

In [ ]:
s = "Hello, World, Hello!"
print(s.count('Hello'))

**startswith() e endswith()** - Verifica se a string começa ou termina com uma determina substring

In [ ]:
s = "Hello, World, Hello!"

print(s.startswith('Hello'))
print(s.endswith('!'))

**Técnica Slicing** - fatiamento de uma string

In [ ]:
#sequencia[inicio:fim:passo]
#inicio: índice onde o fatiamento começa (inclusivo). Se omitido, o padrão é o início da sequência.
#fim: índice onde o fatiamento termina (exclusivo). Se omitido, o padrão é o final da sequência.
#passo: tamanho do passo ou incremento entre índices. Se omitido, o padrão é 1.
s = input("Digite uma frase: ")
print(s)

#Inverter uma string usando slicing
x = s[::-1] # O slicing [::-1] começa do início até o final da sequência, mas com um passo de -1, o que inverte a string.
# y = s[0:5:2]
print(x)

**capitalize()** - Converte o primeiro caractere da string para maiúscula.

In [ ]:
s = "hello, world!"
print(s.capitalize())

**title()** - Converte a primeira letra de cada palavra para maiúscula.

In [ ]:
s = "hello, world!"
print(s.title())

s2 = "hello, world!"
resposta = ' '.join(word.capitalize() for word in s2.split())
print(resposta)


def capitalizar(algo):
  words = algo.split() # words = ["hello","world"]
                                        #x = world
  capitalizar_palavras = [x.capitalize() for x in words]
  return ' '.join(capitalizar_palavras)

frase = input("Digite sua frase: ")
print(capitalizar(frase))

**casefold()** - É uma maneira mais agressiva que o lower() de converter uma string em minúscula.

In [ ]:
# s = "ß"
# print(s.lower())
# print(s.casefold())

s1 = "Große"
s2 = "Grosse"

print(s1.lower() == s2.lower())
print(s1.casefold() == s2.casefold())

**center()** - Centraliza a string, preenchendo com caracteres espeficificos, padrão espaço

In [ ]:
s = "hello"
print(s)
print(s.center(10))
print(s.center(11, '*'))

**expandtabs()** - Expande tabulações ('\t')

In [ ]:
s = "hello\tworld"

print(s.expandtabs(1))

**isalnum()** - se todos os caracteres sao alfanuméricos

In [ ]:
s = "hello123"
print(s.isalnum())

**isalpha()** - se todos os caracteres sao letras

In [ ]:
s = "hello1"
print(s.isalpha())

**isdigit()** - se todos os caracteres sao digitos

In [ ]:
s = "123456"
print(s.isdigit())

**islower()** - se todos são minúsculas
**isupper()** - se todos são maiúsculas

**isspace()** - se todos os caracteres são espaços em branco

In [ ]:
s = "       "
print(s.isspace())

##Formatação de Strings##

**format()** - Substitui os marcadores {} de posição na string por valores especificados.

In [ ]:
nome = "Helen"
idade = 30
mensagem = "Hello, {}. You are {} years old.".format(nome, idade)
print(mensagem)

**f-strings** - Funciona a partir do Python 3.6. Permite inserir expressões dentro da string.

In [ ]:
nome = "Helen"
idade = 30

mensagem = f"Hello, {nome}. You are {idade} years old."
print(mensagem)

print(f"Hello, {nome}. You are {idade} years old.")

In [ ]:
s = "Hello, World!"

#Acessar um caractere
print(s[0])
print(s[-1])

#Acessar uma substring
print(s[0:5]) # acessa a substring do início até o índice 5 (excluindo o 5).
print(s[7:])  # acessa a substring do índice 7 até o final da string.
print(s[:5])  # acessa a substring do início até o índice 5 (excluindo o 5).

**format()** - Substitui os marcadores {} de posição na string por valores especificados.

#6 - Listas#

**Definição** - são coleções ordenadas e mutáveis que permitem armazenar múltiplos itens em uma única variável.

In [ ]:
#Definir uma lista
numeros = [1,2,3,4,5,6]
print(numeros)

# Acessando elementos
print(numeros[2])

# Modificando elementos da lista
numeros[2] = 100
# numeros[2] = int(input("Digite um numero: "))
print(numeros)

# Adicionando novos elementos a lista
numeros.append(1500)
print(numeros)

# Removendo elementos da lista
numeros.remove(5)
print(numeros)

# ORDENAR ELEMENTOS DE UMA LISTA (método sort())
numeros.sort()
print(numeros)

# ORDEM REVERSA
numeros.sort(reverse=True)
print(numeros)

# ORDENAR ELEMENTOS DE UMA LISTA (função sorted())
numeros_ordenados = sorted(numeros)
numeros_ordenados_decrescente = sorted(numeros, reverse=True)
print("Lista Ordenada: ", numeros_ordenados)
print("Lista Ordenada Decrescente: ", numeros_ordenados_decrescente)
print("Lista Original: ", numeros)

# Adicionando elemento em qualquer posição desejada (método insert())
numeros.insert(2, 9999)
print(numeros)
# Adicionando no inicio da lista
numeros.insert(0, 33)
print(numeros)

# Adicionando no final da lista
numeros.insert(len(numeros), 500)
numeros.sort() # ordenando os numeros
print(numeros)

dobro = [algo * 2 for algo in numeros]
print(dobro)
# outra forma de usar o for
resposta = []
for x in numeros:
  resposta.append(x * 2)

print(resposta)

# somar os elementos de uma lista (função sum())
total = sum(numeros)
print(total)

# somar usando o for
total2 = 0
for num in numeros:
  total2 += num
print(total2)

# Menor valor (min())
print(min(numeros))

# Maior valor (max())
print(max(numeros))

# Media
media = sum(numeros) /len(numeros)
media_arredondada = round(media,2)
print("Media normal: ", media)
print("Média Arredondada: ", media_arredondada)
print(f" {media:.2f}")

[1, 2, 3, 4, 5, 6]
3
[1, 2, 100, 4, 5, 6]
[1, 2, 100, 4, 5, 6, 1500]
[1, 2, 100, 4, 6, 1500]
[1, 2, 4, 6, 100, 1500]
[1500, 100, 6, 4, 2, 1]
Lista Ordenada:  [1, 2, 4, 6, 100, 1500]
Lista Ordenada Decrescente:  [1500, 100, 6, 4, 2, 1]
Lista Original:  [1500, 100, 6, 4, 2, 1]
[1500, 100, 9999, 6, 4, 2, 1]
[33, 1500, 100, 9999, 6, 4, 2, 1]
[1, 2, 4, 6, 33, 100, 500, 1500, 9999]
[2, 4, 8, 12, 66, 200, 1000, 3000, 19998]
[2, 4, 8, 12, 66, 200, 1000, 3000, 19998]
12145
12145
1
9999
Media normal:  1349.4444444444443
Média Arredondada:  1349.44
 1349.44

In [ ]:
#Objetos Imutáveis - são aqueles cujo conteúdo ou estado não podem ser modificados.
texto = "Hello"
print(texto[0])
# texto[0] = "X" --- não é permitido

# Objetos Mutáveis - são aqueles cujo conteúdo ou estado podem ser modificados.

H

TypeError: 'str' object does not support item assignment

#7 - Dicionários#

In [ ]:
nome = "Helen"
idade = 30
mensagem = "Hello, {}. You are {} years old.".format(nome, idade)
print(mensagem)

**f-strings** - Funciona a partir do Python 3.6. Permite inserir expressões dentro da string.

In [ ]:
nome = "Helen"
idade = 30

mensagem = f"Hello, {nome}. You are {idade} years old."
print(mensagem)

print(f"Hello, {nome}. You are {idade} years old.")

Hello, Helen. You are 30 years old.
Hello, Helen. You are 30 years old.

In [ ]:
s = "Hello, World!"

#Acessar um caractere
print(s[0])
print(s[-1])

#Acessar uma substring
print(s[0:5]) # acessa a substring do início até o índice 5 (excluindo o 5).
print(s[7:])  # acessa a substring do índice 7 até o final da string.
print(s[:5])  # acessa a substring do início até o índice 5 (excluindo o 5).

#8 - Tuplas#

In [ ]:
#Criando um set vazio
meu_set = set()

# Criando um set com elementos
meu_set = {1,2,3,4,5,6}
print(meu_set)

#Criando um set com elementos duplicados
meu_set = {1,2,3,4,5,6, 1,2,3,4,5,5,5,5,9,10}
print(meu_set)

#Adicionar elementos
meu_set.add(100)
meu_set.add(11)
meu_set.add(15)
print(meu_set)

#Removendo elementos
meu_set.remove(4) # Levanta um erro se o elemento não existir
meu_set.discard(999) # Não Levanta  erro se o elemento não existir
print(meu_set)

#União de Sets
set1 = {20,21,22}
uniaoSet = meu_set | set1
uniaoSet2 = meu_set.union(set1)
print(uniaoSet)

#Interseção de Sets
intersecaoSet = set1 & uniaoSet
intersecaoSet2 = set1.intersection(uniaoSet)
print(intersecaoSet)

#Diferenças de Sets
diferencaSet = set1 - uniaoSet
diferencaSet = uniaoSet.difference(set1)
print(diferencaSet)

#Diferenças simétricas de Sets
diferencaSet2 = set1 ^ uniaoSet
diferencaSet2 = uniaoSet.symmetric_difference(set1)
diferencaSet3 = set1.symmetric_difference(uniaoSet)
print(diferencaSet2)
print(diferencaSet3)

set1.clear()

**Definição:** - São semelhantes às lista, mas com uma diferença CRUCIAL: *SÃO IMUTÁVEIS*.

In [ ]:
#Criação de Tuplas
tupla = (1,2,3,4,5)
print(tupla)

#Tuplas sem Parênteses
tupla2 = 1,2,3,4,5
print(tupla2)

#Acessando Elementos
print(tupla2[3])

#Tuplas aninhadas
tupla3 = ("Helen", (1,2,5,9), "Silas")
tuplaN = tupla3[1]
tuplaT = tupla3[0] + ", " + tupla3[2]
print(tupla3)
print(tuplaN)
print(tuplaT)
print(tupla3[1][2])

# tupla3[0] = 99 --- erro por ser imutavel


# Desempacotamento de Tuplas
a, b, c = tupla3
x,y,z,k = b

print(a)
print(b)
print(c)
print(k)

**Operações com Tuplas**

In [ ]:
#Concatenação
tupla1 = (1,2,3)
tupla2 = (4,5)
tupla3 = tupla1 + tupla2
print(tupla3)

#Repetição
tupla_duplicada = tupla3 * 2
print(tupla_duplicada)

#Fatiamento
print(tupla_duplicada[1:4])

#Verificar a existência
print(3 in tupla_duplicada)

#Verificar o comprimento
print(len(tupla_duplicada))

#Contagem de elementos
tuplaAnimais = ("gato", "cachorro", "gato", "Gato")
print(tupla_duplicada.count(4))
print(tuplaAnimais.count("gato") + tuplaAnimais.count("Gato"))

#Transformar ou criar uma cópia de uma tupla para uma lista
listaAnimais = list(tuplaAnimais)
print(listaAnimais)

#Converter a tupla em um dicionário com a contagem de cada animal
dicionarioAnimais = {
    x: tuplaAnimais.count(x) for x in tuplaAnimais
}
print(dicionarioAnimais)

# Criando um dicionario com a chave "TipoAnimal"
dicionarioAnimais2 = {"tipoAnimal": tuplaAnimais}
print(dicionarioAnimais2)

#Outra forma
dicionarioAnimais3 = {"tipoAnimal": list(tuplaAnimais)}
print(dicionarioAnimais3)


#Solicitando dois inputs ao usuário
animal1 = input("Digite o primeiro animal: ")
animal2 = input("Digite o segundo animal: ")

#Criando uma tupla com os inputs
animaisT = (animal1, animal2)

#Convertendo
dicionarioSaida = {"tipoAnimal": list(animaisT)}
print(dicionarioSaida)

#9 - Sets#

**Definição:** - Conjuntos - estrutura de dados que armazenam elementos únicos e desordenados.

In [ ]:
#Criando um set vazio
meu_set = set()

# Criando um set com elementos
meu_set = {1,2,3,4,5,6}
print(meu_set)

#Criando um set com elementos duplicados
meu_set = {1,2,3,4,5,6, 1,2,3,4,5,5,5,5,9,10}
print(meu_set)

#Adicionar elementos
meu_set.add(100)
meu_set.add(11)
meu_set.add(15)
print(meu_set)

#Removendo elementos
meu_set.remove(4) # Levanta um erro se o elemento não existir
meu_set.discard(999) # Não Levanta  erro se o elemento não existir
print(meu_set)

#União de Sets
set1 = {20,21,22}
uniaoSet = meu_set | set1
uniaoSet2 = meu_set.union(set1)
print(uniaoSet)

#Interseção de Sets
intersecaoSet = set1 & uniaoSet
intersecaoSet2 = set1.intersection(uniaoSet)
print(intersecaoSet)

#Diferenças de Sets
diferencaSet = set1 - uniaoSet
diferencaSet = uniaoSet.difference(set1)
print(diferencaSet)

#Diferenças simétricas de Sets
diferencaSet2 = set1 ^ uniaoSet
diferencaSet2 = uniaoSet.symmetric_difference(set1)
diferencaSet3 = set1.symmetric_difference(uniaoSet)
print(diferencaSet2)
print(diferencaSet3)

set1.clear()

#10 - Funções em Python#

**Definição:** - um bloco de código que realiza uma tarefa específica e que pode ser reutilizada em diferentes partes do programa.

**Estrutura básica de uma função:**

In [ ]:
# def nome_da_funcao(parametros_opcionais):
#   #Bloco de código da função
#   return opcional_valor

**Funções SEM PARÂMETROS** - não recebem nenhum valor de entrada. Executam uma tarefa e, opcionalmente, podem retornar algum valor.*texto em itálico*

In [ ]:
#Criando uma função sem parâmetro
def saudacao():
  print("Hello, World!")

#Chamando a função (uso)
saudacao()

#Outra função
def obter_dia():
  return "Segunda-Feira"

#Chamando função
print(obter_dia())

#Outra forma de chamar a função
dia = obter_dia()
print(f"Hoje é {dia}")

**Observações - Uso do print ou do return:** -

***print:*** - usado para exibir uma mensagem ou algum valor de uma variável na saída PADRÃO. Usamos quando queremos mostrar algo na tela.

In [ ]:
#Criando uma função sem parâmetro
def saudacao():
  print("Hello, World!")

#Chamando a função (uso)
saudacao()

***return:*** - usado para enviar um valor de volta ao CHAMADOR DA FUNÇÃO. Ele encerra a execução da função e passa o controle(e o valor) de volta para o código que chamou a função. Usamos quando precisa-se que a função devolva um valor que pode ser utilizado posteriormente em outra parte do programa.

In [ ]:
def calcular_area(largura, altura):
  area = largura * altura
  return area

print(calcular_area(5,4))

#Uso combinado
def calcular_area(largura, altura):
  area = largura * altura
  print(f"A área é {area} metros quadrados")
  return area
x = 10
y = 20
print(calcular_area(x,y))
calcular_area(x,y)

In [ ]:
# def calcular_area(largura=0, altura=0):
#   area = largura * altura
#   return area

# print(calcular_area())

# outro exemplo
def calcular_area2(largura, altura):
  x = largura
  y = altura
  area = x * y
  return  area

print(calcular_area2(5,7))

**Funções COM PARÂMETROS** - recebem valores de entrada que podem ser usados dentro da função.

In [ ]:
def exibir_mensagem(nome):
  print(f"Olá, {nome}! Bem-vindo ao sistema.")

exibir_mensagem("Israel")

In [ ]:
def soma(a,b):
  return a+b

resultado = soma(10,20)
print(f"O resultado da soma é {resultado}")

In [ ]:
def saudacao(nome="Visitante"):
    print(f"Olá, {nome}!")

saudacao("Douglas")

**Uso do *args** - Parâmetros posicionais

In [ ]:
def somar_varios(*numeros):
  return sum(numeros)

resultado = somar_varios(1,2,5,8,99,10,99,-10)
print(resultado)

**Uso do *kwargs** - Parâmetros Nomeados

In [ ]:
def exibir_informacoes(**info):
  for chave, valor in info.items():
    print(f"{chave}: {valor}")

exibir_informacoes(nome="Ana", idade=28, cidade="São paulo")

dicionario = {
    'nome':"Ana",
    'idade':28,
    'cidade':"São paulo"
}
exibir_informacoes(**dicionario)

In [ ]:
print ("Hello", "World", "Python", sep="*-*")
print ("Hello", "World", "Python", end="!\n")
print ("Hello", "World", "Python", sep=" *-* ", end=".\n")

##Funções Avançadas em Python##

1. Funções anônimas
2. Funções com argumentos predefinidos
3. Funções de Ordem Superior
4. Funções Decoradoras
5. Funções Geradores
6. Funções de Anotações
7. Funções Recursivas
8. Funções com argumentos nomeados e não nomeados
9. Funções com *args e **kwargs em Decoradores
10. Funções com Context Managers
11. Funções de Composição
12. Funções como Objetos
13. Funções de Callback
14. Funções de Tempo de Execução

**1 - Funções Anônimas (Lambda):** são funções
pequenas e de uma única linha que não possuem nome. São principalmente para operações simples e rápidas.

In [ ]:
#lambda argumentos: expressão
soma = lambda a,b: a + b

#Saída
print(soma(5,10))

In [ ]:
#Verificar se um número é par
x = 15
# if (x % 2 == 0):
#   print("par")

par = lambda x: x % 2 == 0
print(par(14))

In [ ]:
numeros = [1,5,9,15,30,99]

produto = lambda lst: [x * 2 for x in lst]
print(produto(numeros))

In [ ]:
maximo = lambda a,b,c: max(a,b,c)
print(maximo(10,20,15))

In [ ]:
numeros = [1,2,3,4,5,6]
quadrado = list(map(lambda x: x ** 2, numeros))
print(quadrado)

In [ ]:
numeros = [1,2,3,4,5,6]
impares = list(filter(lambda x: x % 2 !=0, numeros))
print(impares)

In [ ]:
#Verificar se um número é positivo, negativo ou zero
verificar_numero = lambda x: "Positivo" if x > 0 else "Negativo" if x < 0 else "Zero"
print(verificar_numero(0))

In [ ]:
numero = 10
if numero % 2 == 0:
    par_ou_impar = "Par"
else:
    par_ou_impar = "Ímpar"
print(par_ou_impar)  # Saída: Par

# Usando operador ternário
par_ou_impar = "Par" if numero % 2 == 0 else "Ímpar"
print(par_ou_impar)  # Saída: Par

In [ ]:
lista1 = ["Olá", "Mundo", "Python"]
lista2 = ["!", "É", "Legal"]

soma_listas = list(map(lambda x, y: x + y, lista1, lista2))
print(soma_listas)

juntar_listas = list(map(lambda x, y: [x,y], lista1, lista2))
print(juntar_listas)

juntar_listas2 = list(zip(lista1, lista2))
print(juntar_listas2)

**2 - Funções com argumentos predefinidos:**

In [ ]:
def saudacao(nome="Visitante", mensagem="Olá"):
  return f"{mensagem}, {nome}"

#Saída
print(saudacao())

print(saudacao(nome="Adriano"))

print(saudacao(mensagem="Bom dia", nome="Adriano"))

print(saudacao("Helen", "Bora Codar"))

**3 - Funções de Ordem Superior:** são funções que podem receber outras funções como argumento ou retornar funções.

In [ ]:
def aplicar_funcao(func, lista):
  return [func(x) for x in lista]

#Função que será passada como argumento
def quadrado(y):
  return y * y

#Usando a função de ordem superior
minha_lista = [1,2,3,4,5]
resultados = aplicar_funcao(quadrado, minha_lista)

#Saída
print(resultados)

In [ ]:
import math
# def calculadora(operacao):
#   return lambda a,b: operacao(a,b)

# def calculadora(operacao):
#     return lambda a, b=None: operacao(a) if b is None else operacao(a, b)

def calculadora(operacao):
  return lambda *args: operacao(*args)

# Operação de adição
# def soma(a, b):
#     return a + b

def soma(*args):
    return sum(args)

# Operação de subtração
def subtracao(a, b):
    return a - b
# Operação de multiplicação
def multiplicacao(a, b):
    return a * b
# Operação de divisão
def divisao(a, b):
    return a / b if b != 0 else "Erro: Divisão por zero"
# Operação de cosseno (para um único argumento)
def cosseno(a):
    return math.cos(a)
#Criando as funções para cada operação
operacao_soma = calculadora(soma)
operacao_subtracao = calculadora(subtracao)
operacao_multiplicacao = calculadora(multiplicacao)
operacao_divisao = calculadora(divisao)
operacao_cosseno = calculadora(cosseno)
#Testar as operações
print(operacao_soma(10,5))
print(operacao_divisao(10,3))
a = math.pi/3
print(operacao_cosseno(a))

In [ ]:
## Criando uma calculadora científica básica
import math

def calculadora_cientifica(expressao):
  try:
    # Avalia a expressão usando uma função eval, permitindo operações matemáticas
    resultado = eval(expressao, {"__builtins__":None}, {
        "sin": math.sin,
        "cos": math.cos,
        "tan": math.tan,
        "log": math.log,
        "sqrt": math.sqrt,
        "exp": math.exp,
        "pow": math.pow,
        "pi": math.pi,
        "e": math.e
    })
    return resultado
  except Exception as erro:
    return f"Erro: {erro}"

#Exemplos de uso
print(calculadora_cientifica("2+3+8-3*2"))
print(calculadora_cientifica("sin(pi/2)"))

7
1.0

In [ ]:
import math

def calculadora_cientifica():
  print("Bem-vindo à calculadora Científica!")
  print("Operações disponíveis: +, -, *, /, sin, cos, tan, log, sqrt, exp, pow")
  print("Digite a operação correta, por exemplo: '2+3' ou 'sin(pi/2)' ou 'log(10)'")

  while True:
    expressao = input("Digite a expressão matemática (ou sair) para encerrar: ")
    if expressao.lower() == 'sair':
      print("Encerrando a calculadora.")
      break
    try:
    # Avalia a expressão usando uma função eval, permitindo operações matemáticas
      resultado = eval(expressao, {"__builtins__":None}, {
        "sin": math.sin,
        "cos": math.cos,
        "tan": math.tan,
        "log": math.log,
        "sqrt": math.sqrt,
        "exp": math.exp,
        "pow": math.pow,
        "pi": math.pi,
        "e": math.e
    })
      return resultado
    except Exception as erro:
      return f"Erro: {erro}"

# Execução da Calculadora
calculadora_cientifica()

Bem-vindo à calculadora Científica!
Operações disponíveis: +, -, *, /, sin, cos, tan, log, sqrt, exp, pow
Digite a operação correta, por exemplo: '2+3' ou 'sin(pi/2)' ou 'log(10)'
Digite a expressão matemática (ou sair) para encerrar: sin(45)

0.8509035245341184

**4 - Funções Decoradoras:** são funções que modificam o comportamento de outras funções. Usa para adicionar funcionalidades.

In [ ]:
def decorador(func):
  def wrapper():
    print("Algo está acontecendo antes da execução")
    func()
    print("Algo está acontecendo após a execução")
  return wrapper

@decorador
def saudacao():
  print("Olá!")

saudacao()

In [ ]:
import time
#Definindo o decorador
def medir_tempo(funcao):
  def wrapper(*args, **kwargs):
    print("Iniciando a função...")
    inicio = time.time() # Marca o tempo no inicio
    resultado = funcao(*args, **kwargs)
    fim = time.time() # Marca o tempo no final
    print(f"A função '{funcao.__name__}' foi executada em {fim - inicio:.6f} segundos.")
    return resultado
  return wrapper

# Usando o decorador
@medir_tempo
def somar_numeros(a,b):
  time.sleep(1) # Simula um atraso na execução
  return a+b

@medir_tempo
def quadrado(y):
  return y * y
#Chamando a função decorada
resposta = somar_numeros(11,7)
resposta2 = quadrado(5)

print(f"O Resultado: {resposta2}")

**5 - Funções Geradoras:** são uma maneira poderosa de produzir sequências de valores sob demanda. Usamos uma palavra-chave 'yield'.

In [ ]:
def contador(max):
  count=1
  while count <= max:
    yield count
    count +=1

#Usando a função geradora
for numero in contador(10):
  print(numero)

In [ ]:
import random

def gerador_aleatorio(max_numeros, inicio=0, fim=20):
  count =0
  while count < max_numeros:
    yield random.randint(inicio, fim)
    count +=1
#Usando a função geradora
for numero in gerador_aleatorio(5,1,60):
  print(numero)

In [ ]:
import random

def gerador_aleatorio_unico(max_numeros, inicio=0, fim=20):
  numeros_gerados = set()

  while len(numeros_gerados) < max_numeros:
    numero = random.randint(inicio, fim)
    if(numero not in numeros_gerados):
      numeros_gerados.add(numero)
      yield numero

#Usando a função geradora
for numero in gerador_aleatorio_unico(5,1,6):
  print(numero)

**6 - Funções com Anotações de Tipo:** permitem especificar os tipos esperados dos parâmetros e do valor que espera-se de retorno de uma função.

In [ ]:
def multiplicar(x: int, y:int) -> int:
  return x * y

resultado = multiplicar(3.5,4.3)
print(resultado)

In [ ]:
def multiplicar(x, y):
  if not isinstance(x, int) or not isinstance(y, int):
    raise TypeError("Ambos os parâmetros devem ser inteiros")
  return x * y

try:
  resultado = multiplicar(3,4)
  print(resultado)
  resultado2 = multiplicar(3.5,4)
  print(resultado2)
except TypeError as e:
  print(e)

**7 - Funções Recursivas:** são aquele que se chamam a si mesmas.

In [ ]:
#Fatorial
def fatorial(n: int) -> int:
  if n == 0:
    return 1
  else:
    return n * fatorial(n-1)

#Uso
print(fatorial(5))

In [ ]:
#Fatorial
def fatorial(n: int) -> int:
  if n == 0 or n == 1:
    return 1
  else:
    return n * fatorial(n-1)

#Uso
print(fatorial(5))

In [ ]:
def fibonacci(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

#Exemplo de uso
print(fibonacci(16))

In [ ]:
#Soma dos elementos de uma lista
def soma_lista(lista):
  if len(lista) == 0:
    return 0
  else:
    return lista[0] + soma_lista(lista[1:])

#Uso
minhaLista = [1,2,3,4,5]
print(soma_lista(minhaLista))

In [ ]:
#Inverter uma string
def inverter_string(s):
  if len(s)==0:
    return ""
  else:
    return s[-1] + inverter_string(s[:-1])

#Uso
print(inverter_string("recursividade"))

In [ ]:
#Verificar Palíndromo
def eh_palindromo(s):
  #Remover espaços e converter minúsculas
  s = s.replace(" ", "").lower()
  #caso base: se a string tiver 0 ou 1 caracteres, é um palíndromo
  if len(s) <= 1:
    return True
  # caso recursivo: verificar se os caracteres das extremidades são iguais
  elif s[0] == s[-1]: #arara
    #Chamar a função recursivamente para o substring sem as extremidades
    return eh_palindromo(s[1:-1]) #rar
  else:
    return False

#Uso
print(eh_palindromo("arara"))
print(eh_palindromo("python"))
print(eh_palindromo("A man a plan a canal Panama"))

In [ ]:
#Verificar Palíndromo
def eh_palindromo(s):
  #Remover espaços e converter minúsculas
  s = s.replace(" ", "").lower()
  #caso base: se a string tiver 0 ou 1 caracteres, é um palíndromo
  if len(s) <= 1:
    return True
  # caso recursivo: verificar se os caracteres das extremidades são iguais
  return s[0] == s[-1] and eh_palindromo(s[1:-1])

#Uso
print(eh_palindromo("arara"))
print(eh_palindromo("python"))
print(eh_palindromo("A man a plan a canal Panama"))

In [ ]:
#Verificar Palíndromo
def eh_palindromo(s):
  return len(s) <= 1 or s[0] == s[-1] and eh_palindromo(s[1:-1])

#Uso
print(eh_palindromo("arara"))
print(eh_palindromo("python"))
print(eh_palindromo("A man a plan a canal Panama"))
print(eh_palindromo("Socorram-me, subi no ônibus em Marrocos"))

In [ ]:
#Verificar Palíndromo
import re
def eh_palindromo(s):
  s = re.sub(r'[^a-zA-Z0-9]','',s).lower()
  return len(s) <= 1 or s[0] == s[-1] and eh_palindromo(s[1:-1])

#Uso
print(eh_palindromo("arara"))
print(eh_palindromo("python"))
print(eh_palindromo("A man a plan a canal Panama"))
print(eh_palindromo("Socorram-me, subi no ônibus em Marrocos"))

**8 - Funções com Argumentos Nomeados e Não Nomeados:** misturar argumentos posicionais e variáveis em uma função.

In [ ]:
def combinar(a, b, *args, sep=", ", prefixo="", sufixo=""):
    resultado = f"{prefixo}{a}{sep}{b}"
    if args:
        resultado += sep + sep.join(args)
    resultado += sufixo
    return resultado
# Uso
print(combinar("maçã", "banana", "laranja", "kiwi", prefixo="Frutas: ", sufixo=" :)"))
print(combinar("maçã", "banana", "laranja", "kiwi"))

**9 - Funções com args e kwargs em Decoradores:**

In [ ]:
def decorador(func):
    def wrapper(*args, **kwargs):
        print("Antes da execução")
        resultado = func(*args, **kwargs)
        print("Depois da execução")
        return resultado
    return wrapper

@decorador
def saudacao(nome):
    print(f"Olá, {nome}!")


@decorador
def soma(a, b):
    print(f"A soma de {a} e {b} é {a + b}")

@decorador
def multiplicacao(a, b, c):
    print(f"A multiplicação de {a}, {b} e {c} é {a * b * c}")

#Uso
saudacao("Helen")

soma(10,15)

multiplicacao(2,3,5)

In [ ]:
def decorador(func):
    def wrapper(*args, **kwargs):
        print("Antes da execução")
        resultado = func(*args, **kwargs)
        print("Depois da execução")
        return resultado
    return wrapper

@decorador
def exibir_saudacao(nome):
    print(f"Olá, {nome}!")

@decorador
def calcular_soma(a, b):
    print(f"A soma de {a} e {b} é {a + b}")

@decorador
def calcular_multiplicacao(a, b, c):
    print(f"A multiplicação de {a}, {b} e {c} é {a * b * c}")

def menu():
    while True:
        print("\n--- Menu ---")
        print("1. Exibir saudação")
        print("2. Calcular soma")
        print("3. Calcular multiplicação")
        print("4. Sair")

        escolha = input("Escolha uma opção (1/2/3/4): ")

        if escolha == '1':
            nome = input("Digite o nome: ")
            exibir_saudacao(nome)
        elif escolha == '2':
            a = int(input("Digite o primeiro número: "))
            b = int(input("Digite o segundo número: "))
            calcular_soma(a, b)
        elif escolha == '3':
            a = int(input("Digite o primeiro número: "))
            b = int(input("Digite o segundo número: "))
            c = int(input("Digite o terceiro número: "))
            calcular_multiplicacao(a, b, c)
        elif escolha == '4':
            print("Saindo...")
            break
        else:
            print("Opção inválida. Tente novamente.")
#Uso
menu()

**10 - Funções com Context Managers:** São funções que podem ser usadas como gerenciadores de contexto utilizando as palavras-chave '__enter__' e '__exit__'. É útil para garantir que recursos sejam corretamente gerenciados e liberados.

In [ ]:
class GerenciadorDeArquivo:
  def __init__(self, nome_arquivo, modo):
    self.nome_arquivo = nome_arquivo
    self.modo = modo

  def __enter__(self):
    self.arquivo = open(self.nome_arquivo, self.modo)
    return self.arquivo

  def __exit__(self, exc_type, exc_value, tracebak):
    self.arquivo.close()

#Usando gerenciador de contexto
with GerenciadorDeArquivo("teste.txt", 'w') as arquivo:
  arquivo.write(input("Digite uma frase:"))

In [ ]:
class GerenciadorDeArquivo:
  def __init__(self, nome_arquivo, modo):
    self.nome_arquivo = nome_arquivo
    self.modo = modo

  def __enter__(self):
    self.arquivo = open(self.nome_arquivo, self.modo)
    return self.arquivo

  def __exit__(self, exc_type, exc_value, tracebak):
    self.arquivo.close()

#Criando uma função para usar o gerenciador de contexto
def escrever_arquivo(nome_arquivo, conteudo, modo='w'):
  with GerenciadorDeArquivo(nome_arquivo, modo) as arquivo:
    arquivo.write(conteudo)

#Usando a função
frase = input("Digite seu texto: ")
escrever_arquivo("novoArquivo.txt", frase)

**11 - Funções Composição:** Podem ser compostas para criar novas funções a partir de funções existentes.

In [ ]:
def dobrar(x: int) -> int:
  return x * 2

def adicionar_tres(x: int) -> int:
  return x + 3

def compor(func1, func2):
  return lambda x: func2(func1(x))

#Criando uma nova função
nova_func = compor(dobrar, adicionar_tres)

#Uso
print(dobrar(5))
print(adicionar_tres(5))
print(nova_func(10))

In [ ]:
def dobrar(x: int) -> int:
  return x * 2

def adicionar_tres(x: int) -> int:
  return x + 3

def compor(func1, func2):
  return lambda x: func2(func1(x))

#Criar uma tupla de funções
tupla_de_funcoes =(dobrar, adicionar_tres)

#Compor as funçõe da tupla
nova_funcao = compor(tupla_de_funcoes[0], tupla_de_funcoes[1])

#Uso
print(nova_funcao(10))

In [ ]:
#Usando permutaçao
from itertools import permutations

def dobrar(x: int) -> int:
    return x * 2

def adicionar_tres(x: int) -> int:
    return x + 3

def compor(*funcoes):
    def combinacao(x):
        for func in reversed(funcoes):
            x = func(x)
        return x
    return combinacao

# Criar uma tupla de funções
tupla_de_funcoes = (dobrar, adicionar_tres)

# Gerar todas as combinações possíveis de funções
for perm in permutations(tupla_de_funcoes):
    func_combinada = compor(*perm)
    print(f"Composição da permutação {perm}: {func_combinada(5)}")

In [ ]:
from itertools import permutations

def dobrar(x: int) -> int:
    return x * 2

def adicionar_tres(x: int) -> int:
    return x + 3

def compor(*funcoes):
    def combinacao(x):
        for func in funcoes:
            x = func(x)
        return x
    return combinacao

# Criar uma tupla de funções
tupla_de_funcoes = (dobrar, adicionar_tres)

# Gerar todas as combinações possíveis de funções
for perm in permutations(tupla_de_funcoes):
    func_combinada = compor(*perm)
    func_names = ' -> '.join([func.__name__ for func in perm])
    print(f"Composição da permutação {func_names}: {func_combinada(5)}")

**12 - Funções como Objetos:**

In [ ]:
def multiplicar_por_2(x: int) -> int:
  return x * 2

def aplicar_funcao(func, valor):
  return func(valor)

#Uso
resultado = aplicar_funcao(multiplicar_por_2, 10)
print(resultado)

**13 - Funções de Callback:** são funções passadas como argumento para outras funções e que são chamadas dentro dessas funções.

In [ ]:
def processar_dados(dados, callback):
  resultados = [callback(valor) for valor in dados]
  return resultados

def quadrado(x: int) -> int:
  return x * x

#Exemplo de uso
dados = [1,2,3,4,5,6]
resposta = processar_dados(dados, quadrado)

print(resposta)

**14 - Funções de Tempo de Execução (Timing):** funções para medir tempo de execução de outras funções.

In [ ]:
import time
def medir_tempo(funcao):
  def wrapper(*args, **kwargs):
    inicio = time.time()
    resultado = funcao(*args, **kwargs)
    fim = time.time()
    print(f"Tempo de execução: {fim - inicio} segundos.")
    return resultado
  return wrapper


#Fatorial
@medir_tempo
def fatorial(n: int) -> int:
  if n == 0 or n == 1:
    return 1
  else:
    return n * fatorial(n-1)

#Uso
print(fatorial(15))

#11 - Pandas#

**Conceito:** é uma biblioteca "poderosa" para análise e manipulação de dados em Python.

**DataFrames:** Estruturas de dados bidimensional, semelhante a uma tabela ou uma planilha.

**Series:** Estrutura de dados unidimensional...Uma coluna de um DataFrame.

**Indexação e Seleção:** Oferece várias maneiras de acessar e selecionar dados.

In [ ]:
#Leitura de Dados

import pandas as pd

#Ler dados de um arquivo.csv
df = pd.read_csv('/content/Base de dados - Dados sobre desgaste de funcionarios.csv')

# Visualização e Exploração
# Visualizar as primeiras linhas
# print(df.head())

#Obter informações sobre o Dataframe
# print(df.info)

# Manipulação de Dados
#Filtrar dados
df_filtro_idade = df[df['Idade']>30]
# print(df_filtro_idade)

#Filtrar dados
df_filtro_idade_vendas = df[(df['Idade']>30) & (df['Departamento'] == 'Vendas')]
# print(df_filtro_idade_vendas)

#Filtrar dados
df_filtro_idade_vendas2 = df[(df['Idade']>30) & (df['Departamento'] == 'Vendas')][['Idade', 'Escolaridade', 'Departamento', 'Total de anos trabalhados']]
# print(df_filtro_idade_vendas2)

#Adicionando uma nova coluna
df_filtro_idade_vendas2['email'] = None
# print(df_filtro_idade_vendas2)

df_ordenado = df_filtro_idade_vendas2[['Idade', 'Escolaridade', 'email', 'Departamento', 'Total de anos trabalhados']]
# print(df_ordenado)

#Tratamento de dados Faltantes
df_ordenado['email'].fillna("sem_email", inplace=True) #NaN
df_ordenado['email'].replace("","NaN", inplace=True) #NaN
# print(df_ordenado)

#Agrupar por uma coluna e calcular a média
df_agrupado = df_ordenado.groupby('Escolaridade')[['Idade','Total de anos trabalhados']].mean()
# print(df_agrupado)

#Adicionar a coluna com a categorização
def categorizar(row):
  if row['Total de anos trabalhados'] > 0 and row['Total de anos trabalhados'] <=12:
    return 'Novato'
  elif row['Total de anos trabalhados'] > 12 and row['Total de anos trabalhados'] <=20:
    return 'Intermédiário'
  elif row['Total de anos trabalhados'] > 20:
    return 'Vetereno'
  else:
    return 'Sem experiência'

df_agrupado['Categoria'] = df_agrupado.apply(categorizar, axis=1)
print(df_agrupado)

#axis=0 eixo de linhas ou eixo vertical (analiso coluna a coluna)
#axis=1 eixo de coluna ou eixo horizontal(analiso linha a linha)

                  Idade  Total de anos trabalhados      Categoria
Escolaridade
1             41.476190                  12.952381  Intermédiário
2             40.215385                  11.969231         Novato
3             40.530435                  14.060870  Intermédiário
4             39.252174                  12.660870  Intermédiário
5             42.071429                  14.500000  Intermédiário

<ipython-input-11-317c24226eda>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ordenado['email'].fillna("sem_email", inplace=True) #NaN
<ipython-input-11-317c24226eda>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ordenado['email'].replace("","NaN", inplace=True) #NaN

In [ ]:
import pandas as pd

#Criação de um DataFrame de exemplo
dados = {
    'Idade': [25,32,40,29],
    'Anos_Trabalhados': [3,10,20,15],
    'Salario': [5000,6000,8000,5500]
}

df=pd.DataFrame(dados)

#Somando os valores de cada coluna usando axis=0
soma_colunas = df.sum(axis=0)
# print(soma_colunas)

#Somando os valores de cada linha usando axis=1
soma_linhas = df.sum(axis=1)
print(soma_linhas)

0    5028
1    6042
2    8060
3    5544
dtype: int64

In [ ]:
import pandas as pd
import numpy as np
from IPython.display import display

# Criando um DataFrame de exemplo
data = {
    'nome': ['Ana', 'Bruno', 'Carla', 'Daniel', 'Eduarda', 'Felipe', 'Gabriela', 'Henrique'],
    'idade': [23, 45, np.nan, 36, 29, 41, 30, 36],
    'cidade': ['São Paulo', 'Rio de Janeiro', 'São Paulo', 'Rio de Janeiro', np.nan, 'São Paulo', 'Salvador', 'São Paulo'],
    'salario': [3000, 5000, 4500, np.nan, 3800, 5200, np.nan, 4800],
    'categoria': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B']
}

df = pd.DataFrame(data)
# print(df)

## Remover Duplicatas
df = df.drop_duplicates()
# print(df)

##Tratar Dados Faltantes
## Detectar os dados faltantes
# print(df.isnull().sum()) # Conta os valores ausentes por coluna

## Preencher os valores faltantes idade e salario
df['idade'] = df['idade'].fillna(df['idade'].mean())
df['salario'] = df['salario'].fillna(df['salario'].mean())

# Preencher valores faltantes em cidade com "desconhecida"
df['cidade'] = df['cidade'].fillna('Desconhecida')
# print(df)

## Filtrar Dados
df_filtrado = df[(df['idade']>30) & (df['cidade'] == 'São Paulo')]
# print(df_filtrado)

## Alterar Tipos de Dados
df['idade'] = pd.to_numeric(df['idade'], errors='coerce')
df['categoria'] = df['categoria'].astype('category')
# print(df.dtypes)

## Renomear Colunas
df = df.rename(columns={'salario': 'salario_bruto'})
# print(df)

##Alterar a ordem das Colunas
df = df[['nome', 'cidade', 'idade', 'salario_bruto', 'categoria']]
# print(df)

##Manipulando String
df['nome'] = df['nome'].str.upper()
# print(df)

##Aplicar Funções Personalizadas
def calcular_imposto(salario):
  return salario * 0.1

df['imposto'] = df['salario_bruto'].apply(calcular_imposto)
# print(df)

##Classificação e Ordenação
df = df.sort_values(by='idade', ascending=True)
# print(df)

## Agrupamento e Agregação
df_agrupado = df.groupby('categoria')['salario_bruto'].mean()
# print(df_agrupado)

## Remoção de Colunas
df = df.drop(columns=['imposto'])
# print(df)

##Criar uma nova coluna 'faixa_etaria' baseada na idade
df['faixa_etaria'] = df['idade'].apply(lambda x: 'Jovem' if x < 30 else 'Adulto')
# print(df)

## Remover Linhas ou Colunas com Base em Condições Específicas
# Remover linhas onde o valor da coluna 'salario_bruto' é menor que 3500
df2 = df[df['salario_bruto'] < 3500]
# print(df2)

# Remover colunas onde o número de valores ausentes é maior que 2
# df = df.dropna(axis=1, thresh=2)
# print(df)


#Aplicar Funções Lambda a Multiplas colunas
df['soma_salario_idade'] = df.apply(lambda linha: linha['salario_bruto'] + linha['idade'], axis=1)
# print(df)

display(df)

<ipython-input-19-ab6aa5c873f8>:66: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_agrupado = df.groupby('categoria')['salario_bruto'].mean()

,nome,cidade,idade,salario_bruto,categoria,faixa_etaria,soma_salario_idade
0,ANA,São Paulo,23.000000,3000.000000,A,Jovem,3023.000000
4,EDUARDA,Desconhecida,29.000000,3800.000000,A,Jovem,3829.000000
6,GABRIELA,Salvador,30.000000,4383.333333,A,Adulto,4413.333333
2,CARLA,São Paulo,34.285714,4500.000000,A,Adulto,4534.285714
3,DANIEL,Rio de Janeiro,36.000000,4383.333333,B,Adulto,4419.333333
7,HENRIQUE,São Paulo,36.000000,4800.000000,B,Adulto,4836.000000
5,FELIPE,São Paulo,41.000000,5200.000000,B,Adulto,5241.000000
1,BRUNO,Rio de Janeiro,45.000000,5000.000000,B,Adulto,5045.000000

In [ ]:
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, np.nan, np.nan, 8],
    'C': [1, np.nan, 3, 4],
    'D': [np.nan, np.nan, np.nan, np.nan]
}
df = pd.DataFrame(data)

print("Data Frame Original")
print(df)

df2 = df.dropna(axis=1, thresh=2)
print("Data Frame Após Remover")
print(df2)

Data Frame Original
     A    B    C   D
0  1.0  NaN  1.0 NaN
1  2.0  NaN  NaN NaN
2  NaN  NaN  3.0 NaN
3  4.0  8.0  4.0 NaN
Data Frame Após Remover
     A    C
0  1.0  1.0
1  2.0  NaN
2  NaN  3.0
3  4.0  4.0

In [ ]:
import pandas as pd
import numpy as np

# Dados do DataFrame
data = {
    'A': [1, 2, np.nan, 4],
    'B': [np.nan, np.nan, np.nan, 8],
    'C': [1, np.nan, 3, 4],
    'D': [np.nan, np.nan, np.nan, np.nan]
}
df = pd.DataFrame(data)

# Exibe o DataFrame original
print("Data Frame Original")
print(df)

# Exporta o DataFrame como CSV
df.to_csv('dataframe_exportado.csv', index=False)

print("\nDataFrame exportado como 'dataframe_exportado.csv'")

Data Frame Original
     A    B    C   D
0  1.0  NaN  1.0 NaN
1  2.0  NaN  NaN NaN
2  NaN  NaN  3.0 NaN
3  4.0  8.0  4.0 NaN

DataFrame exportado como 'dataframe_exportado.csv'

In [ ]:
import pandas as pd
from datetime import datetime
from IPython.display import display


# Exemplo de dataset
data = {
    'nome': ['Ana Silva', 'Bruno Costa', 'Carla Souza', 'Diego Pereira', 'Eliana Rocha'],
    'data_nascimento': ['1990-05-10', '1990-11-22', '1999-11-03', '1988-08-15', '1995-03-30'],
    'salario': [4500, 5500, 5000, 6000, 4800]
}
df = pd.DataFrame(data)

# saida
# print(df)

# Converter a coluna 'data_nascimento' para datetime
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'])
# print(df)

# Extrair componentes de uma data
df['ano'] = df['data_nascimento'].dt.year
df['mes'] = df['data_nascimento'].dt.month
df['dia'] = df['data_nascimento'].dt.day
#Exibir o DataFrame
# print(df)

# Distribuir funcionarios por ano de nascimento
nasc_por_ano = df['ano'].value_counts().sort_index()
# print(nasc_por_ano)

# Distribuir funcionarios por mês de nascimento
nasc_por_mes = df['mes'].value_counts().sort_index()
# print(nasc_por_mes)

# Salario médio por ano nascimento
salario_medio_por_ano = df.groupby('ano')['salario'].mean()
# print(salario_medio_por_ano)

# Funcionário mais jovem e o mais velho
mais_jovem = df[df['data_nascimento'] == df['data_nascimento'].max()]
# print(mais_jovem)

mais_velho = df[df['data_nascimento'] == df['data_nascimento'].min()]
# print(mais_velho)

# Distribuição Salarial
descricao_salarios = df['salario'].describe()
# print(descricao_salarios)

#Criar um novo DF para armazenar os resultados do describe
descricao_df = pd.DataFrame(descricao_salarios).transpose()
# print(descricao_df)

#Renomear as colunas
descricao_df.columns = ['total', 'media', 'desvio_padrao', 'minimo', 'Q1', 'Mediana', 'Q3', 'maximo']
# print(descricao_df)

# Formatar a data no formato 'dd/mm/yyyy'
df['data_nascimento'] = df['data_nascimento'].dt.strftime('%d/%m/%Y')
# print(df)
# Exibir o DataFrame com a data formatada
# print(df[['nome', 'data_nascimento', 'salario']])

# Exporta o DataFrame como CSV
df.to_csv('nome_data_formatada.csv', index=False)

# Funcionarios por faixa etária
# Calcular idade dos funcionarios
df['idade'] = datetime.now().year - df['ano']

#Criar faixas etárias
cortes = [20,30,40,50,60]
rotulos = ['20-29', '30-39', '40-49', '50-59']
df['faixa_etaria'] = pd.cut(df['idade'], bins=cortes, labels=rotulos, right=False)

#Contagem por faixa etária
contagem_por_faixa = df['faixa_etaria'].value_counts()
#Saída
# print(contagem_por_faixa)

# display(df)

# Media Salarial por faixa etária
salario_medio_por_faixa_etaria = df.groupby('faixa_etaria')['salario'].mean()
# display(salario_medio_por_faixa_etaria)

# Funcionario aniversariante do mês
# Identificar o mês atual
mes_atual = datetime.now().month
#Filtrar funcionarios que fazem aniversario no mês atual
aniversariantes_mes_atual = df[df['mes'] == mes_atual]
display(aniversariantes_mes_atual)

<ipython-input-35-fc9520be4bf4>:85: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  salario_medio_por_faixa_etaria = df.groupby('faixa_etaria')['salario'].mean()

            nome data_nascimento  salario   ano  mes  dia  idade faixa_etaria
3  Diego Pereira      15/08/1988     6000  1988    8   15     36        30-39

In [ ]:
from google.colab import drive
drive.mount('/content/drive')